body{
    background-color: cornflowerblue;
}
.img{
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 300px;
    width: 300px;
  border-radius: 50%;
  border: 10px solid #fff;
}